<h1 class="text-center m-3">Do you want to be a mathematician?</h1>
<p class="text-center m-3">If you see and learn on this website, you will become a mathematician.</p>
<%= link_to "GO TO THE MATH WORLD" , new_user_path , class: "m-4" %>