<h1 class="text-center">Administration Categories</h1>

<div class="btn-new">
    <%= button_to "New Category" , "#" , class: "btn  btn-info m-3" %>
</div>

<table class="mt-4">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Settings</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td><%= link_to "Edit" ,"#" , class: "" %> / <%= link_to "Delete" ,"#" , class: "" %></td>
        </tr>
    </tbody>
</table>


