// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.number{
  font-size: 30px;
  text-align: right;
  margin-right: 200px;
}


.card{
  width:500px;
  text-align: center;
}

.category-title{
  font-size:30px;
  text-align: center;
}

.word-choice{
  width: 50px;
}