<h1 class="text-center">Administration Users</h1>
<hr class="col-8">

<div class="container">
    <div class="row justify-content-around">
        <% @users.each do |people| %>
            <div class="card col-3 m-3">
                <%= image_tag gravatar_for(people) ,class: "rounded-circle mt-3" %>
                <%= link_to people.name, admin_user_path(people) ,class: "text-center m-3" %>
                <p class="text-center"><%= people.email %></p>
                <div class="button-add">
                    <%= button_to "Add", "#" ,class: "btn btn-info mb-2" %>
                </div>
            </div>
        <% end %>
    </div>
</div>